/*
    Document   : IPSN css
    Created on : Feb 4, 2010
    Author     : Mike Pavese
*/

* {
margin:0;
padding:0;
}

.b_link
{
 font-weight: bold;
 font-size: 14px;
 color: #c90000;
}

#header
{
width: 100%;
margin-top: 10px;
margin-bottom: none;
}

#header  h2
{
	margin: 10px 5px;
}

#nav_bar
{
  width: 1150px;
  margin: -2px auto 0;
}

#nav_bar a
{
  display: inline-block;
  height: 32px;
  margin: 0 25px;
  text-transform: uppercase;
  float: left;
}

.fb_share{
	margin-top: -3px ! important;
	float: right !important;
}

#bio h3
{
text-align: center;
margin-top: 10px;
margin-bottom: 5px;
}
p
{
  text-align: justify;
}

body
{
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: Times New Roman, serif;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;

  padding: 25px;
  padding-bottom: 10px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
}

a
{
  text-decoration: none;
  color: #222222;
}

a.home_link
{
  text-decoration: none;
}

a:hover,
.red_link
{
  color: #c10200;
}

ul
{
font-size: 12px;
list-style: circle;
margin-left: 15px;
}


h1
{
height: 30px;
float: left;
font-size: 28px;
text-align: left;
margin-bottom: 0px;
color: #000000;
font-family: Helvetica Narrow, serif;
}

h3
{
font-size: 18px;
text-transform: uppercase;
letter-spacing: 1px;
}

h5
{
font-size: 18px;
text-align: center;
}

hr
{
background-color: #c90000;
height: 5px;
clear: both;
margin-top: 0px;
}

#date
{
height: 20px;
text-align: right;
padding-bottom: 10px;
font-weight: bold;
margin: 8px 15px 0 0;
color: black;
}


#headlines
{
width: 450px;
padding: 0 4px 10px; 
border-style: dotted;
border-width: 1px;
border-color: #c90000;
background-color: #eeeeee;
}
#skyline
{
float: left;
height: 75px;
margin: 10px;
}

#skyline img
{
height: 75px;
}

#subhead
{
color: #c90000;
}
#address
{
margin-left: auto;
margin-right: auto;
width: 100%;
text-align: center;
font-weight: 900;
}

#main
{
		float: right;
    margin: 15px 10px 0 0;
    -ms-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    font-weight:300;
    transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    padding:10px 30px;
    border:2px solid transparent;
   min-width: 400px;
    max-width:550px;
}

#headline_column 
{
		float: right;
	margin: 15px 20px 20px 10px;
  -ms-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    font-weight:300;
    transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    padding:10px 30px;
    margin:5px;
    border:2px solid transparent;
  min-width: 200px;
    max-width:500px;
}


@media only screen and (max-width: 1254px) {
#main {
	margin: 0 10%;
	max-width: 900px;

}
#headline_column 
{
	margin: 15px 10%;
	width: 700px;
}
}

